userbyte.xyz.code-workspace
release.tar.xz
release.tar
pftest
files/css/main.css.bak1
files/css/main.css.bak2
ship-it.sh
ship-exclude-list.txt

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vscode
*.code-workspace

# misc
.DS_Store
*.pem
*.old
push-and-update-prod.sh
!.docker/.env