body {
  /* unsplash not support this anymore :( */
  /* background-image: url('https://source.unsplash.com/1920x1080/?mountains'); */
  background-image: image-set(
    url("../img/newhome_bg.webp") type("image/webp"),
    url("../img/newhome_bg.jpg") type("image/jpeg"));
}
.blurbg {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}
footer {
  width: auto;
  padding: 0 20px 0;
  background-color: #272727a5;
  border-radius: 10px 10px 0 0;
}
.titlebar {
  background-color: #272727;
  height: 20px;
  margin-bottom: -15px;
  border-radius: 10px 10px 0 0;
  padding: 5px 4px 2px;
  cursor: move;
}
.titlebar a {
  position: absolute;
  background-color: inherit;
  color: rgb(208, 208, 208);
  font-family: inherit;
  font-size: 16px;
  /* left: 50%;
  transform: translateX(-50px); */
  text-align: center;
  width: 98%;
  top: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.titlebar-buttons button {
  position: relative;
  float: right;
  border: none;
  border-radius: 50%;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  top: 1px;
}
.titlebar-buttons button i {
  position: relative;
  font-size: 9px;
  left: -2px;
  bottom: 4.5px;
  opacity: 0;
  color: #272727;
}
.titlebar-buttons button i:hover {
  opacity: 1;
}
.titlebar-buttons button:nth-child(1) {
  background-color: #f25056;
}
.titlebar-buttons button:nth-child(2) {
  background-color: #39ea49;
}
.titlebar-buttons button:nth-child(3) {
  background-color: #fac536;
}
.terminal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  border-radius: 10px 10px 0 0; /* match titlebar radius */
  transform: translateX(-50%) translateY(-50%);
  font-family: monospace;
  font-size: 18px;
  color: white;
  background-color: #151515;
  box-shadow: 0 0 10px #00000080;
  backdrop-filter: blur(14px);
  background-color: #000000b3;
}
.webfetch {
  white-space: break-spaces;
  padding: 12px 26px 4px;
}
.webfetch a {
  /* add a default color */
  /* pretty much only affects the z4h link but i figured it'd be better to have white be the default <a> color anyways */
  color: white;
}
.webfetch .distro-logo {
  color: #55ffff;
  font-weight: bold;
}
.webfetch .user-hostname {
  color: #ff55ff;
  font-weight: bold;
}
.webfetch .ivalue {
  color: white;
}
.webfetch .iname {
  color: #5555ff;
  font-weight: bold;
}
.webfetch .ivalue {
  color: white;
}
.term-input {
  background-color: #1a1a1a;
  padding: 0 10px 0;
}
.term-input input {
  background-color: inherit;
  color: white;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: 0;
  margin: 0;
  width: 93%;
}


/* any small-width screen */
@media only screen 
and (max-width: 800px) { 
  .terminal {
    width: 97%;
    font-size: 14px;
  }
  .term-input input {
    font-size: 14px;
    width: 90%;
  }
  .titlebar-buttons button {
    display: none;
  }
}