html {
  /* prevent scrollbars from appearing when you move a window outside of the view */
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  /* unsplash not support this anymore :( */
  /* background-image: url('https://source.unsplash.com/1920x1080/?mountains'); */
  background-image: image-set(
    url("../img/newhome_bg.webp") type("image/webp"),
    url("../img/newhome_bg.jpg") type("image/jpeg"));
  /* background: unset; */
}
.blurbg {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}
footer {
  width: auto;
  padding: 0 20px 0;
  background-color: #272727a5;
  border-radius: 10px 10px 0 0;
}
footer p {
  text-align: center;
  float:left;
  margin:10px;
}
footer p:last-child {
  float:unset;
}
.titlebar {
  background-color: #272727;
  height: 20px;
  margin-bottom: -15px;
  border-radius: 10px 10px 0 0;
  padding: 5px 4px 2px;
  cursor: move;
}
.titlebar a {
  position: absolute;
  background-color: inherit;
  color: rgb(208, 208, 208);
  font-family: inherit;
  font-size: 16px;
  /* left: 50%;
  transform: translateX(-50px); */
  text-align: center;
  width: 98%;
  top: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.titlebar-buttons button {
  position: relative;
  float: right;
  border: none;
  border-radius: 50%;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  top: 1px;
}
.titlebar-buttons button i {
  position: relative;
  font-size: 9px;
  left: -2px;
  bottom: 4.5px;
  opacity: 0;
  color: #272727;
}
.titlebar-buttons button i:hover {
  opacity: 1;
}
.titlebar-buttons button:nth-child(1) {
  background-color: #f25056;
}
.titlebar-buttons button:nth-child(2) {
  background-color: #39ea49;
}
.titlebar-buttons button:nth-child(3) {
  background-color: #fac536;
}

.window {
  position: absolute;
  border-radius: 10px 10px 0 0; /* match titlebar radius */
  backdrop-filter: blur(14px);
  box-shadow: 0 0 10px #00000080;
  background-color: #151515b3; /* default window bg color, this is usually overridden in window id styling */
  color: white;
}

#aboutme {
  /* left: 34vw; */
  /* top: 10vh; */
  width: 650px;
  background-color: #000000b3;
  padding-bottom: 10px;
}
.aboutme-image {
  margin-left: 10px;
  float: left;
}
.aboutme-image img {
  width: 250px;
  height: 250px;
  border-color: #b4b4b4;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}
.aboutme-text {
  position: relative;
  top: 25px;
  margin-left: 285px;
  font-family: 'Source Code Pro';
  font-size: 20px;
}

#links {
  top: 42vh;
  width: 400px;
  /* background-color: #262626ac; */
  background-color: #000000b3;
}
.links-content {
  padding: 15px;
  font-size: 22px;
}
.links-content i {
  margin-left: 10px; 
  margin-top: 18px; 
  margin-bottom: 18px; 
  color: #bfbfbf;
}
.links-content a {
  margin-left: 10px; 
  color: #f6f6f6;
}
.links-content a:hover {color: #c6c6c6;}


#discordpresence {
  top: 42vh;
  width: 400px;
  /* background-color: #151515; */
  background-color: #1a1c1f;
}

#spotify {
  /* left: 82em; */
  top: 42vh;
  width: 350px;
  color: white;
  /* background-color: #151515; */
  background-color: #000000b3;
}
.spotify-content {
  padding: 5px 10px 0;
  font-size: 18px;
}
#spotify-albumArt {
  width: 85px;
  height: 85px;
}
.spotify-info-text {
  margin-left: 95px;
}

#ubterm {
  right: 2vw;
  top: 2vh;
  width: fit-content;
  font-family: monospace;
  font-size: 18px;
  /* background-color: #151515; */
  background-color: #000000b3;
}
.webfetch {
  white-space: break-spaces;
  padding: 12px 26px 4px;
}
.webfetch a {
  /* add a default color */
  /* pretty much only affects the z4h link but i figured it'd be better to have white be the default <a> color anyways */
  color: white;
}
.webfetch .distro-logo {
  color: #55ffff;
  font-weight: bold;
}
.webfetch .user-hostname {
  color: #ff55ff;
  font-weight: bold;
}
.webfetch .ivalue {
  color: white;
}
.webfetch .iname {
  color: #5555ff;
  font-weight: bold;
}
.webfetch .ivalue {
  color: white;
}
.term-input {
  background-color: #1a1a1a;
  padding: 0 10px 0;
}
.term-input input {
  background-color: inherit;
  color: white;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: 0;
  margin: 0;
  width: 93%;
}